<svg
   width="10"
   height="13"
   viewBox="0 0 10 13"
   fill="none"
   xmlns="http://www.w3.org/2000/svg"
>
   <rect
      x="5.28516"
      y="12.3888"
      width="2"
      height="6"
      rx="1"
      transform="rotate(-130 5.28516 12.3888)"
      fill="white"
   />
   <rect
      x="6.78516"
      y="10.8568"
      width="2"
      height="6"
      rx="1"
      transform="rotate(130 6.78516 10.8568)"
      fill="white"
   />
   <rect
      x="5.5"
      y="0.134003"
      width="2"
      height="6"
      rx="1"
      transform="rotate(50 5.5 0.134003)"
      fill="white"
   />
   <rect
      x="4"
      y="1.66606"
      width="2"
      height="6"
      rx="1"
      transform="rotate(-50 4 1.66606)"
      fill="white"
   />
</svg>
